doctype html
html(ng-app='kassa')
	head
		meta(name='charset', content='utf-8')
		title Кассовый аппарат
		script(src='/javascripts/src/jquery.min.js')
		script(src='/javascripts/src/angular.min.js')
		script(src='/javascripts/src/bootstrap.min.js')
		script(src='/javascripts/src/ui-bootstrap.min.js')
		script(src='/javascripts/compiled/kassa.js')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/custom.css')
	body
		block content